{% load staticfiles %}
<br>
<div id="research">

<div class="containeri-fluid" align="center">
<div class="text-center">
  <h3>CONFERENCES</h3> 
</div>
  <div class="row">
    <div class="col-sm-5">
      <a href="http://www.openreadings.eu/" target="blank"><img class="img-thumbnail slideanim" src="{% static 'personal/images/openreadings.png' %}" alt="open-readings logo" width=200 height=auto></img></a>
    </div>
    <div class="col-sm-7">
      <h4>Open Readings 2017</h4> 
      <p>
      60th International Conference for Students of Physics and Natural Sciences
      <br> Vilnus, Lithuania, March 14th - 17th, 2017
      <br>My contribution can be found <a href="https://indico.cern.ch/event/544641/contributions/2349579/" target="blank">here</a>.<br>
       The presentation received an <a href"http://www.openreadings.eu/awards/" target="blank">award</a> for the best of Theoretical Physics and Radiophysics.
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-5">
      <a href="http://www.ujk.edu.pl/homepages/mryb/12thworkshop/" target="blank"><img class="img-thumbnail slideanim" src="http://www.ujk.edu.pl/homepages/mryb/12thworkshop/figures/Wersja_Ang2.gif" alt="ujk logo" width=200 height=auto></img></a>
    </div>
    <div class="col-sm-7">
      <h4>Polish Workshop on RHIC</h4> 
      <p>
      XII Polish Workshop on Relativistic Heavy-Ion Collisions
      <br> Kielce, Poland, Nov 4th - 6th, 2016
      <br>My contribution can be found on <a href="https://indico.cern.ch/event/544641/contributions/2349579/" target="blank">indico pages</a>.
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-5">
	    <a href="http://ift.uni.wroc.pl/~cpod2016/" target="blank"><img class="img-thumbnail slideanim" src="{% static 'personal/images/cpod.png' %}" alt="cpod logo" width=200 height=auto></img></a>
    </div>
    <div class="col-sm-7">
      <h4>CPOD 2016 Conference</h4> 
      <p>
      The conference on Critical Point and the Onset of Deconfinement.
      <br> Wrocław, Poland, May 30th - June 4th, 2016
      <br>My contribution can be found on <a href="https://indico.cern.ch/event/449173/contributions/2176292/"  target="blank">indico pages</a>.
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-5">
      <br>
      <a href="http://shine.web.cern.ch/" target="blank"><img class="img-thumbnail slideanim" src="http://shine.web.cern.ch/sites/shine.web.cern.ch/files/shineBlueGray6.png" alt="na61/shine logo" width=200 height=auto></img></a>
    </div>
    <div class="col-sm-7">
      <h4>NA61/SHINE Collaboration Meetings</h4> 
      <p>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>May 2017</td>
              <td>Moscow</td>
              <td><a href="https://indico.cern.ch/event/588004/" target="blank">indico</a></td>
            </tr>
            <tr>
              <td>May 2016</td>
              <td>Baku</td>
              <td><a href="https://indico.cern.ch/event/492269/contributions/2144898/" target="blank">indico</a></td>
            </tr>
            <tr>
              <td>Sep 2015</td>
              <td>CERN, Prevessin</td>
              <td><a href="https://indico.cern.ch/event/442868/" target="blank">indico</a></td>
            </tr>
            <tr>
              <td>May 2015</td>
              <td>Paris</td>
              <td><a href="https://indico.cern.ch/event/371982/" target="blank">indico</a></td>
            </tr>
          </tbody>
        </table>
      </p>
    </div>
  </div>
</div>
</div>

</div>
