{% load staticfiles %}

<div id="links">
<div class="container-fluid text-center bg-grey slideanim" align="center">
<div class="well well-lg text-center">
  <h2>Links</h2>
</div>
  <h4>Where am I?</h4>
  <div class="container text-center">
  <div class="row-centered text-center">
    <div class="col-sm-6">
      <a href="https://www.quora.com/profile/Maciej-Lewicki" target="_blank"><div class="thumbnail slideanim">
		      <img src="{% static 'personal/images/quora.png' %}" alt="Quora logo">
        <p><strong>Quora</strong></p>
        <p>Asking questions, writing answers, getting humble amount of views.</p>
      </div></a>
    </div>
    <div class="col-sm-6">
      <a href="http://inspirehep.net/author/profile/Maciej.Lewicki.1" target="_blank"><div class="thumbnail slideanim">
		      <img src="{% static 'personal/images/inspire.png' %}" alt="Inspire HEP logo">
        <p><strong>inSPIRE</strong></p>
        <p>My scientific record.<br>&nbsp</p>
      </div></a>
    </div>
    <div class="col-sm-6">
      <a href="https://www.facebook.com/lewickimaciej" target="_blank"><div class="thumbnail slideanim">
		      <img src="{% static 'personal/images/facebook.png' %}" alt="Facebook logo">
        <p><strong>Facebook</strong></p>
        <p>My friends and shares.<br>&nbsp</p>
      </div></a>
    </div>
    <div class="col-sm-6">
      <a href="https://www.researchgate.net/profile/Maciej_Lewicki" target="_blank"><div class="thumbnail slideanim">
		      <img src="{% static 'personal/images/ResearchGate_Logo.png' %}" alt="ResearchGate logo">
        <p><strong>ResearchGate</strong></p>
        <p>My scientific record.<br>&nbsp</p>
      </div></a>
    </div>
    </div>
  <div class="row-centered text-center">
    .<br>
    <hr>
    <div class="col-sm-6">
	<ul>
	<li>My scientific bookkeeping: <a href="/blog/" target="_blank">BLOG</a></li>
	</ul> 
    </div>
  </div>
</div>
</div>
