{% load staticfiles %}
<div id="research">
<div class="container-fluid" align="center">
<div class="well well-lg text-center">
  <h2>Research</h2> 
</div>
</div>
<div class="container" align="center">
<div class="text-center">
  <h3>PROJECTS</h3> 
</div>
  <div class="row">
    <div class="col-sm-6">
<br><br>
<a href="http://shine.web.cern.ch" target="blank"><img class="slideanim img-thumbnail" src="{% static 'personal/images/arsc_event.png' %}" alt="ar sc collisions view" width=400 height=auto></img></a>
    </div>
    <div class="col-sm-6"> 
      <a href="http://shine.web.cern.ch" target="blank"><h4>NA61/SHINE collaboration at CERN</h4></a>
      <p><br>The NA61/SHINE's primary goal is to investigate the phase transitions present in the theory of QCD by means of studying heavy ion collisions at ultra-relativistic energies.
<br>
My work concentrates on analysis of the spectra of hadrons produced in collisions of Argon and Scandium ions.
<br>My activities for the experiment were partially supported by National Science Center of Poland - HARMONIA grants
(<small><a href="https://projekty.ncn.gov.pl/index.php?s=1957" target="blank">2012/04/M/ST2/00816</a>, <a href="https://projekty.ncn.gov.pl/index.php?s=5846" target="blank">2015/18/M/ST2/00125</a></small>).
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h4>Dose Estimation Analysis</h4> 
      <a href="http://panoramix.ift.uni.wroc.pl/~lewy/dosematic.html" target="blank"><img src="{% static 'personal/images/Dosematic.png' %}" alt="dosematic logo" width=50%></img></a>
      <p><br>A statistical analysis framework designed to estimate the radiation dose based on observed data. Serves as a data container, allows for function fitting and calculates dose estimates along with statistical errors. </p>
    </div>
    <div class="col-sm-6">
	    <a href="http://panoramix.ift.uni.wroc.pl/~lewy/dosematic.html" target="blank"><img class="slideanim img-thumbnail" src="{% static 'personal/images/view.png' %}" alt="dosematic view" width=400 height=auto></img></a>
    </div>
  </div>
</div>
