<div id="teaching">
<div class="container-fluid" align="center">
<div class="well well-lg text-center">
  <h2>Teaching<br> 
  <small>[in Polish]</small></h2>
</div>
</div>
<div class="container" align="center">
  <div class="row-centered text-center">
    <div class="col-sm-6">
      <hr>
      <h4><a href="http://panoramix.ift.uni.wroc.pl/~lewy/pjs.html" target="blank">Projekt w Języku Skryptowym</a></h4>
      <p>Prezentacje z zajęć, fragmenty kodu, etc</p>
      <hr>
    </div>
  </div>
  <div class="row-centered">
    <div class="col-sm-6">
      <hr>
      <h4><a href="http://panoramix.ift.uni.wroc.pl/~lewy/root.html" target="blank">Wprowadzenie do środowiska ROOT</a></h4>
      <p>Prezentacje z zajęć, fragmenty kodu, etc</p>
      <hr>
    </div>
  </div>
  <div class="row-centered">
    <div class="col-sm-6">
      <hr>
      <h4><a href="http://cern.ch/malewick/pcpp.html" target="blank">Projekt w C++</a></h4>
      <p>Prezentacje z zajęć, tutoriale</p>
      <hr>
    </div>
  </div>
</div>
</div>
