{% extends "personal/header.html" %}
{% block content %}


	<div class="row text-center">
	<a style="color:black;" class="btn btn-default btn-lg" href="/blog">ALL</a>
	{% with 'conference popularization award colaboration organization' as list %}
		{% for tag in list.split %}
			{% if tag == view.kwargs.tag %}
				<a style="color:white;" class="btn btn-primary btn-md" href="/blog/{{tag}}">{{tag}}</a>
			{% else %}
				<a style="color:gray;" class="btn btn-default btn-md" href="/blog/{{tag}}">{{tag}}</a>
			{% endif %}
		{% endfor %}
	{% endwith %}
	</div>

	{% for post in object_list %}
		{% if view.kwargs.tag == post.tag1 or view.kwargs.tag == post.tag2 or view.kwargs.tag == post.tag3  %}

		<a href="/blog/{{post.id}}"><h3>  {{ post.title }}</h3></a>

		{{ post.datefrom|date:"Y-m-d" }}
		{% if post.dateto %}
		 &mdash; {{ post.dateto|date:"Y-m-d" }}
		{% endif %}

		<div>
			{{ post.short }}
		</div>

		{% if post.tag1 %}
		<a style="color:gray;" class="btn btn-default btn-xs" href="/blog/{{post.tag1}}">{{post.tag1}}</a>
		{% endif %}
		{% if post.tag2 %}
		<a style="color:gray;" class="btn btn-default btn-xs" href="/blog/{{post.tag2}}">{{post.tag2}}</a>
		{% endif %}
		{% if post.tag3 %}
		<a style="color:gray;" class="btn btn-default btn-xs" href="/blog/{{post.tag3}}">{{post.tag3}}</a>
		{% endif %}

		<hr>
		{% endif %}
	{% endfor %}
{% endblock %}
